@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


html{
  font-size: 15px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
}
/* .attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }